#header {
    border: 1px solid grey;
    background: linear-gradient(132deg, #000000, #595959, #000000, #595959, #000000, #595959);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s linear infinite alternate;
    border-radius: 10px;
}

#projects {
    background: linear-gradient(132deg, #000000, #595959, #000000, #595959, #000000, #595959);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s linear infinite alternate;
    border-radius: 10px;
}

#WhoIAm {
    background: linear-gradient(132deg, #000000, #595959, #000000, #595959, #000000, #595959);
    background-size: 400% 400%;
    border-radius: 10px;
}

.projects {
    background: linear-gradient(132deg, #000000, #595959, #000000, #595959, #000000, #595959);
    background-size: 400% 400%;
    border-radius: 10px;
    animation: BackgroundGradient 5s linear infinite alternate;
}

@keyframes BackgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.icon {
    width: 40px;
    height: 40px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#me:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#avatar:hover {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#me,
#avatar {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#music {
    background-image: url("img_rock.png");
    background-size: cover;
    background-position: center;
}

#eCommerce {
    background-image: url("eCommerce.png");
    background-size: cover;
    background-position: center;
}

#fishing_inventory {
    background-image: url("Pesca.png");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    #avatar {
        height: 350px;
        margin-top: 10px;
    }

    #me {
        margin-top: 30px;
        width: 200px;
    }

}